*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
img{
	max-width: 100%;
}
li{
	list-style: none;
}
a, a:hover{
	text-decoration: none;
}
p{
	font-size: 16px;
}
h3{
	font-size: 20px;
	line-height: 30px
	;margin: 4px 0px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	max-width: 1140px;
	margin: auto;
}
.col-3{
	width: 33.33%;
	padding: 15px;
}
.col-4{
	width: 25%;
	padding: 15px;
}
.btn{
	padding: 10px 33px;
	background: #21b573;
	border-radius: 30px;
	color: #fff !important;
	border: 2px solid #21b573;
	transition: .3s;
}
.btn:hover{
	background: transparent;
	color: #21b573 !important;
}

/************BAnner section*****************/
.banner-section{
	background: #F0FFF0;
	padding: 0px 0px 65px;
}
header{
	padding: 20px 0px 100px;
}
.logo{
	width: 15%;
	flex: 0 0 auto;
}
.logo img{}
nav{
	width: 85%;
	flex: 0 0 auto;
}
nav ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
nav ul li{}
nav ul li a{
	color: #000000;
	font-size: 17px;
	font-weight: 600;
	margin-left: 35px;
	display: block;
	padding: 10px 20px;
	border-radius: 30px;
	transition: .3s;
}
nav ul li a:hover{
	background: #21b573;
	color: #fff;
}
.banner-content{
	width: 45%;
	padding: 38px 0px;
}
.banner-content p{
	margin-bottom: 45px;
}
.banner-content h6{
	color: #FD541D;
	font-size: 20px;
	letter-spacing: 1px;
}
.banner-content h1{
	font-size: 45px;
	line-height: 1.1;
	margin: 30px 0px;
}
.banner-content h1 span{
	color: #21b573;
}
.banner-image{
	width: 55%;
}
.banner-image img{
	padding: 27px;
}

/***********feature-section************/
.feature-section{}
.feature-inner{
	text-align: center;
	background: #F8FFFB;
	padding: 32px;
	transition: .3s;
}
.feature-inner:hover{
	box-shadow: 6px 8px 9px #ccc;
	cursor: pointer;
}
.feature-inner img{
	height: 100px;
}
.feature-inner p{
	font-size: 15px;
}

/***************courses**************/
.courses{}
.title{
	text-align: center;
	padding: 30px 0px;
}
h2{
	font-size: 30px;
	line-height: 40px;
}
.courses p{
	font-size: 15px;
	margin: 10px 0px 30px;
}
.course-content{
	background: #fff;
	box-shadow: 6px 8px 9px #ccc;
	padding: 20px;
	border-radius: 25px;
}
.course-content img{}
.course-content ul{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.course-content ul li{
	font-size: 13px;
}
.course-content ul li i{
	margin-right: 6px;
}

/**************testimonial***************/
.testimonial{
	padding: 50px 0px;
}
.testimonial .container{
	justify-content: center;
	align-items: center;
}
.testimonial img{}
.testimonial p{}
.testi-image{
	width: 13%;
	padding: 15px;
}
.testi-content{
	width: 60%;
	padding: 15px;
}

/*************footer************/
footer{
	background: #282531;
	color: aliceblue;
}
footer .col-4 p{	
	padding: 20px;
}
footer ul{}
footer ul li{
	padding: 5px 0px;
}
footer ul li a{
	color: aliceblue;
	transition: .3s;
}
footer ul li a:hover{
	color: #21a758;
}
footer ul li strong{
	color: #fff;
}
.copyright{}
.copyright a{
	color: #21b573;
	transition: .3s;
}
.copyright a:hover{
	color: aquamarine;
}

.copyright p{
	display: block;
	text-align: center;
	padding: 30px 0px;
}
